body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero{
  background-color: #387ED1;
  color: white;
}

#supportHero a{
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 10px 15px;
  width: 100%;
  font-size: 20px;
  border: none;
}

.para{
  font-size: 17px;
  font-weight: 500;
}

.ticketheading{
  font-size: 1.3vw;
  margin-right: 10%;
  font-weight: 400;
}
.ticketLinks{
  text-decoration: none;
  line-height: 2.3;
  font-size: 1.2vw;
}

.footerLink{
  list-style: none;
  font-size: small;
}


